<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReviewJS</title>
    <link rel="icon" type="image/x-icon" href="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="h-dvh bg-cyan-300">
    <div id="content" class="content-center h-full w-full">
        <div id="title" class="flex justify-center text-[80px] hover:text-sky-800 transition-colors">ReviewJS</div>
        <div id="subtitle" class="flex justify-center text-[20px] font-light">This is a review about express.js to use CRUD operation.</div>
        <br>
        <div id="buttons" class="flex justify-center">
            <button id="button" class="transition ease-in-out delay-60 bg-indigo-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300 text-white font-bold py-2 px-4 rounded"><a target="_blank" href="http://127.0.0.1:8000/users">VIEW EXAMPLE API</a></button>
        </div>
    </div>
</body>
</html>